@import "~@openmrs/esm-styleguide/src/vars";
@import "~carbon-components/src/globals/scss/vars";
@import 'carbon-components/scss/globals/scss/typography.scss';

.buttonsGroup {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.overlayButtons {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.overlayButtons button {
  max-width: unset;
}
